/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
@font-face {
    font-family: Gotham-Rounded-Bold;
    src: url(../fonts/Gotham-Rounded-Bold.ttf) format("truetype");
}
@font-face {
    font-family: Gotham-Rounded-Bold-Italic;
    src: url(../fonts/Gotham-Rounded-Bold-Italic.ttf) format("truetype");
}
@font-face {
    font-family: Gotham-Rounded-Book_;
    src: url(../fonts/Gotham-Rounded-Book_.ttf) format("truetype");
}
@font-face {
    font-family: Gotham-Rounded-Book-Italic;
    src: url(../fonts/Gotham-Rounded-Book-Italic.ttf) format("truetype");
}
@font-face {
    font-family: Gotham-Rounded-Light;
    src: url(../fonts/Gotham-Rounded-Light.ttf) format("truetype");
}
@font-face {
    font-family: Gotham-Rounded-Light-Italic;
    src: url(../fonts/Gotham-Rounded-Light-Italic.ttf) format("truetype");
}

@font-face {
    font-family: Gotham-Rounded-Medium;
    src: url(../fonts/Gotham-Rounded-Medium.ttf) format("truetype");
}

@font-face {
    font-family: Gotham-Rounded-Medium-Italic;
    src: url(../fonts/Gotham-Rounded-Medium-Italic.ttf) format("truetype");
	
}



/********************************/
/*       Universal style        */
/********************************/
 html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
button, a{font-family: Gotham-Rounded-Light!important;}
a {text-decoration: none};
a i{text-shadow:none;}
.left-buttons a.item-content{padding:0px; border:none; background:none;}
.left-buttons .item{box-shadow:none; border:none; background:none;  padding:0px;}
.left-buttons .item a i:before{font-size:33px; color:#fff; margin-left:5px;}
input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  background-color: transparent;
}
.bar .buttons span.back-text{display:none;}
input::-webkit-input-placeholder{
  color: #000;
  font-weight: bold;
}
input:-moz-placeholder{
  color: #000;
  font-weight: bold;
}
input:-ms-input-placeholder {  
   color: #000;  
   font-weight: bold;
}
input:-moz-placeholder { color:#222; }
.bar{box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3), 1px 0px 2px rgba(0, 0, 0, 0.3);}
.bar .title{font-family: Gotham-Rounded-medium;text-shadow: 0px 1.5px rgba(0,0,0,0.4); text-align:center!important; left: 70px!important;right: 70px!important;}
.content h3{display:block; margin:64px auto 20px auto; max-width:100%; text-align:center; color:#1c87dc; font-family: Gotham-Rounded-Medium;text-shadow: 0px 2px rgba(0,0,0,0.2);}
.pane, .view{background:url('../img/background.jpg'); background-size: 120%;}
.right-icon i{font-size: 25px;position: absolute;right: 20px; }
button.right-icon i{margin-top:9px;}
.scroll-bar-indicator{background: rgb(72, 156, 223);}
.item-input{display: flex !important;}
input[readonly]:not(.cloned-text-input){background-color: transparent !important;}
.item .item-divider{background-color: #489cdf !important;}
.col-50{max-width: 45% !important}
.grey{color:#444;}
.card{border-radius: 5%}
.padding .card, .padding .list-inset{background:transparent;}
.red {background-color:#F00!important; border:1px solid #489cdf!important; color:#fff!important;}
.title, .bar-stable .button.button-clear{color:#fff!important;}
.item{border-color:#489cdf;}
a.button .button-small{line-height: 2.5 !important;}
a.button-a{display:block; text-decoration:none; color:#fff; text-align:center; width:100%;  font-size:16px; background-color:#489cdf;border:1px solid #489cdf; padding:12.5px;}
.button.button-block{margin-bottom:0px;}
.tabs-top > .tabs{top:0px;}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{background-color:#489cdf!important; border:1px solid #1c87dc!important; }
.list label{margin:8px;}
label.item-input{padding-top:0px; padding-bottom:0px;}
label.checkbox{margin-left:8px; font-family: Gotham-Rounded-Medium;}
label.item-input{padding-left:50px; padding-right: 35px;}
.list label i{position: absolute;top: 9.5px;left: 8px;z-index: 1; font-size:20px; width:30px; height: 60% !important; text-align:center;border-right: 1.5px groove #444;}
.button .button-small{line-height: 2.5 !important;}
.list label i:before{margin-top:5px;}
.checkbox input{display:inline-block; vertical-align:middle;margin-right:10px;}
label .item-complex .item-content{padding:7px;}
.scroll h3{text-align: center;margin-top: 30px; font-weight: bold; color:#003E35;font-family: Gotham-Rounded-Light;text-shadow: 0px 1px rgba(0,0,0,0.1);letter-spacing:1px;}
.item-select select{position:static; padding:0px; height:34px;width:100%; max-width:100%; direction:inherit;}
.item-select:after{color:#037263;}
.tab-item{opacity:inherit;}
a.tab-item{color:#fff;}
.sub-footer{

}
.tabs{border-color: #489cdf;background-color:#489cdf;}
.checkbox input:before, .checkbox .checkbox-icon:before{border-color:#1c87dc}
.tabs-icon-top.tabs .tab-item{font-size:11px;}
.list a.item-avatar:last-child{margin-bottom:50px;}
.marginbottom{margin-bottom:120px;}
.action-sheet-group .button{border-width: 1.5px 0px 0px !important}
.action-sheet .button{background-color: #fff; box-shadow: 0px; opacity: 0.9; text-transform: capitalize;}
.action-sheet-title{display: none;}
.hightlight .hightlight-calm{display: none !important;}
.item-select select{background: transparent !important;}
.profileinfo{color: #222; font-weight: bold}
.odd{
  background-color: rgba(218, 237, 234, 0.51);
}
.even{
  background-color: rgba(233, 233, 233, 0.55);
}
.right-buttons span.numbers{position: absolute;top: 0px;right:37px;background-color:#F00;width: 20px;height: 20px;text-align: center;color: #fff;border-radius: 50%;font-family: Gotham-Rounded-Book_; font-size:12px; margin: 0;}
map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.bar .buttons .hide.menu-button{display:block!important;}
.right-buttons button.button{padding:0px!important;}
a.blue-color{color:#489cdf; text-decoration:none; font-size:20px; font-family: Gotham-Rounded-Book_!important;text-shadow: none;}
/********************************/
/*      Edit-Profile            */
/********************************/
.upload-image button{display:block!important; margin:auto!important;    background-color:#fff;}
.upload-image button{border: 0px; background: none;}
.upload-image img{width: 100px;height: 100px;    border-radius: 50%;
border-color: #444;}


/********************************/
/*       Friends                */
/********************************/
.half{width:50%; display:inline-block;}
.half h2{margin-top:12px; font-size:12px; font-family: Gotham-Rounded-Light;}
.half i{position: absolute;right: 0px;top: 20px; font-size:30px; color:#489cdf; right:20px;}
.half label{position: absolute;top: 8px;padding: 0px; margin: 0px; right:50px;top: 21px;}
.item-avatar{padding-left:65px;}

/********************************/
/*       Events                 */
/********************************/

.event .list li{color:#555555; padding:12px;}
.event .list li .row{padding:0px;}
.event .list li .row div{font-size:12px;font-family: Gotham-Rounded-Book_; padding:5px 0px;}
.event .list li .row div i{font-size: 27px;position: absolute;top: 13px; color:#489cdf;}
.event .list li .row .join-button{font-size: 14px;text-decoration: none;padding: 6px 0px;background-color: #489cdf;color: #fff;position: absolute; top: 12px;right: 10px; width:70px; text-align:center;letter-spacing: 1px;text-transform: capitalize;}
.event .list li .row .invite-button{font-size: 14px;text-decoration: none;padding: 6px 0px;background-color: #fff;color: #489cdf;position: absolute; top: 12px;right: 10px; width:70px; text-align:center; border:1px solid #489cdf;letter-spacing: 1px;text-transform: capitalize;}
.event a.event-detail{font-size:12px;font-family: Gotham-Rounded-Book_; text-decoration:none; color:#555555; text-shadow:none;}

/********************************/
/*       Just-Now               */
/********************************/
.just-now label{padding:0px;}
.just-now .item-input textarea{resize:none; padding-top:10px; padding-bottom:10px;padding-left:18px; padding-right:15px;}
.just-now .item-input select{padding-left:15px; padding-right:15px;}


/********************************/
/*       Map                    */
/********************************/
.gm-style-mtc div{font-family: Gotham-Rounded-medium; font-size:16px!important; }

#map { width: 100%;height: 100%;}

.scroll {height: 100%;}

/********************************/
/*       Search                 */
/********************************/
.search{margin-top:20px;}
.search .search-inner{margin-top:0px!important; border:1px groove #489cdf; border-radius:0px; background:none;}
.search button.search-button{ border:1px groove #489cdf; border-radius:0px; background-color:#489cdf; color:#fff; border-left:none; margin:0px; height:33px; padding:0px 5px!important;}
.search button.search-button i{ color:#fff;}

/********************************/
/*     Notifications            */
/********************************/

.notification div{font-size: 12px; font-family: Gotham-Rounded-Light; padding: 5px 0px;}

/********************************/
/*     Logout                   */
/********************************/
.logout ion-header-bar h1{font-size:24px!important; line-height:30px!important; height:30px!important;}	
.logout ion-header-bar{height:35px;}
.logout .bar .title + .button:last-child{top:0px;}	
.logout .list{padding:15px; background: none;}
	
/********************************/
/*     Menu                   */
/********************************/	
.profile-picture img{max-width: 100%;
box-shadow: -1px 0px 2px rgba(72, 156, 223, 0.9), 1px 0px 2px rgba(72, 156, 223, 0.9);border-color: #489cdf;}
.profile-picture{margin: 20px 0px;
    text-align: center;}
	
/********************************/
/* Event Info                   */
/********************************/	

.event-info .list li div .info-left{font-family: Gotham-Rounded-Medium; font-size:16px; color:#489cdf;}
.event-info .list li div{font-size:14px; font-family: Gotham-Rounded-Book_; }

.tagsList .tagName {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

/* Empty. Add your own CSS if you like */
.float-button {
cursor: pointer;
background-color:#1A42EC;
opacity: 0.9;
color: white;
border-radius: 50%;
/*border-radius:15% 0 0 0;*/
width: 30px;
padding: 25px;
font-size: 40px;
position: fixed;
bottom: 10%; /* Adjust height */
right: 5%; /* Adjust position */
z-index: 1000;
}
 
.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}
 
.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}

.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #eeef9f;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #eeef9f;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
  transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
  transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}
.bold {
  font-weight: bold;
  font-style: italic;
  font-size: smaller;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

$assertive :#ef473a;
.button-float{
  background: $assertive !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important; 
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;

}

.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: darken($assertive, 10%) !important;
}