      <ion-modal-view class="change-password">
        <ion-header-bar class="bar bar-header bar-cyan ">
          <button class="button button-clear button-primary ion-close" ng-click="change.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
         <form id="change-password" ng-submit="changepwd();">
           <div class="list list-inset">
                  <label class="item item-input odd">
                        <i class="ion-ios-locked-outline"></i>
                          <input type="password" placeholder="Current Password" ng-model="data.currpwd">
                        </label>
                          <label class="item item-input even">
                        <i class="ion-ios-locked"></i>
                          <input type="password" placeholder="New Password" ng-model="data.newpwd">
                        </label>
                        <label class="item item-input odd">
                        <i class="ion-ios-locked"></i>
                          <input type="password" placeholder="Confirm New Password" ng-model="data.rnewpwd">
                        </label>

            <button class="button button-block button-cyan" ng-click="changepassword()">Submit</button>
            </form>
          </div>
        </ion-content>
      </ion-modal-view>
  