      <ion-modal-view class="change-password">
        <ion-header-bar class="bar bar-header bar-positive ">
          <h1 class="title">Change Password</h1>
          <button class="button button-clear button-primary ion-close" ng-click="change.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
         <form id="change-password" ng-submit="changepwd();">
           <div class="list list-inset">
                  <label class="item item-input">
                        <i class="ion-ios-locked-outline"></i>
                          <input type="password" placeholder="Current Password" >
                        </label>
                          <label class="item item-input">
                        <i class="ion-ios-locked-outline"></i>
                          <input type="password" placeholder="New Password" >
                        </label>
                        <label class="item item-input">
                        <i class="ion-ios-locked-outline"></i>
                          <input type="password" placeholder="Confirm New Password" >
                        </label>

            <button class="button button-full blue" >Submit</button>
            </form>
          </div>
        </ion-content>
      </ion-modal-view>
  