<ion-view view-title="Covers">
    <ion-content>
		
		<div class="list card">
		
			<div class="item" ng-click="changecover('bridgeview')">
				<img src="img/covers/bridgeview.jpg" />
			</div>
			<div class="item" ng-click="changecover('bulbs')">
				<img src="img/covers/bulbs.jpg" />
			</div>
			<div class="item" ng-click="changecover('camera')">
				<img src="img/covers/camera.jpg" />
			</div>
			<div class="item" ng-click="changecover('cassette')">
				<img src="img/covers/cassette.jpg" />
			</div>
			<div class="item" ng-click="changecover('city')">
				<img src="img/covers/city.jpg" />
			</div>
			<div class="item" ng-click="changecover('lightswallpaper')">
				<img src="img/covers/lightswallpaper.jpg" />
			</div>
			<div class="item" ng-click="changecover('oldcar')">
				<img src="img/covers/oldcar.jpg" />
			</div>
			<div class="item" ng-click="changecover('oldglassview')">
				<img src="img/covers/oldglassview.jpg" />
			</div>
			<div class="item" ng-click="changecover('vintagecar')">
				<img src="img/covers/vintagecar.jpg" />
			</div>
		
		</div>
		
    </ion-content>
</ion-view>