<ion-view view-title="iCrowding">
    <ion-content>
        <h3 style="margin-top:20vh;">Upload Event Picture</h3>

        <ion-list class="list">
            <form name="myForm">
                <div class="item">
                    <button class="button button-block button-cyan ion-ios7-camera" ng-click="choosepicture()">Take Picture</button>
                </div>
            </form>
                <div class="item">
                    <button ng-click="skip()" class="button button-small button-clear button-cyan" style="line-height: 3; font-size: small; margin-top: -2%; background: rgba(0,0,0,0.5); font-weight: bold !important;"><strong>Skip</strong></button>
                </div>
        </ion-list>

    </ion-content>
</ion-view>