<ion-view view-title="iCrowding">
  <ion-content>
    <div class="list">
        <form id="eventform" ng-submit="createEvent();">
            <label class="item item-input odd">
                <i class="ion-android-create"></i>
                <input type="text" placeholder="Name of the Event" tabindex="1" ng-model="model.eventname">
            </label>
            <label class="item item-input odd">
                <i class="ion-ios-calendar-outline"></i>
                <input type="date" placeholder="Date (yyyy-MM-dd)" id="eventdate" tabindex="2" ng-model="model.eventdate">
            </label>
            <label class="item item-input odd">
                <i class="ion-clock"></i>
                <input type="time" placeholder="Time (HH:mm:ss)" id="eventtime" tabindex="3" ng-model="model.time2">
            </label>
            <label class="item item-input odd">
                <i class="ion-ios-location"></i>
                <input type="text" id="eventlocation" placeholder="Location" tabindex="5" g-places-autocomplete ng-model="model.location">
            </label>
            <div class="col marginbottom">
                <input type="submit" class="button button-block button-cyan" tabindex="6" value="Create Event" />
            </div>
        </form>           
              </div><!-- List -->
  </ion-content>
</ion-view>
