<ion-view view-title="Edit profile">
  <ion-content class="scroll">
                  <div class="list">
                  <div class="upload-image" style="content-align: center; padding: 15% 5%; background-image: url('img/covers/{{data.cover}}.jpg'); background-size: 100%;">
                        <a style="position: absolute; right: 0px; top: 15px; background-color: rgba(28, 194, 172, 0.8); height: 15px; width: auto; margin-right: 5px;" href="#/app/changecover" class="button button-positive button-fab"><i class="icon ion-android-add" style="top: 8px;"></i></a>
                        <div class="col-33" style="float: left;">
                          <button ng-click="changepic()"><img src="img/profile.jpg" onerror="this.src = 'img/profile.jpg';" id="mypic"/></button>
                        </div>
                        <div class="col-66" style="float: left;">
                          <label class="item item-input" style="padding-right: 0px;">
                        <i class="ion-ios-person" style="width: 60px; border-right: 0px !important; color: #f9f7dd;"></i>
                          <span class="profileinfo" ng-bind="data.fname" style="-webkit-text-fill-color: #000000; color: #fff !important;"></span>
                        </label>
                        
                        </div>
                      </div>
                          <br>

                         <label class="item item-input item-select odd">
                          <i class="ion-transgender"></i>
                        
                            <select ng-model="data.gender" id="gendermenu">
                                <option value="" disabled selected>Select Gender</option>
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                                <option value="Transsexual">Transsexual</option>
                            </select>
                          </label>

                      <label class="item item-input even">
                          <i class="ion-ios-body"></i>
                          <input type="number" placeholder="Height" max="300" min="50" pattern="[0-9]*" ng-model="data.height"><span style="margin-right:40%;">Inches</span>
                      </label>
                      <label class="item item-input odd">
                          <i class="ion-ios-body-outline"></i>
                          <input type="number" placeholder="Weight" max="200" min="10" pattern="[0-9]*" ng-model="data.weight"><span style="margin-right:40%;">Lbs</span>
                      </label>
                      <label class="item item-input even">
                          <i class="ion-ios-calendar-outline"></i>
                          <input type="number" placeholder="Age" max="100" min="6" pattern="[0-9]*" ng-model="data.age"><span style="margin-right:40%;">Years</span>
                      </label>
                      <label class="item item-input item-select odd">
                          <i class="ion-transgender"></i>

                          <select ng-model="data.sexuality" placeholder="Sexual Orientation">
                              <option value="" disabled selected>Sexual preference</option>
                              <option value="Straight" selected>Straight</option>
                              <option value="Gay">Gay</option>
                              <option value="Bisexual">Bisexual</option>
                              <option value="Lesbian">Lesbian</option>
                          </select>
                      </label>
                         <label class="item item-input even">
                        <i class="ion-ios-briefcase"></i>
                          <input type="text" placeholder="Occupation" ng-model="data.occupation">
                        </label>
                        
                        
                          <div class="col marginbottom" style="width: 80%; margin: 0px auto; text-align: center;">
                          <button class="button button-block button-cyan" ng-click="save()">Save</button>
                          <button class="button button-block button-cyan" ui-sref="app.change-password">Change Password</button>
                          <!--<button class="button button-small button-cyan" style="margin-top: 3%; line-height: 3;" ng-click="change.show()">Change password</button>-->
                          </div> 
                          
                           
                          
                          
                          
                       
              </div><!-- list -->
  </ion-content>
</ion-view>
