<ion-view view-title="iCrowding">
  <ion-content class="event-info">
    <h3>Event Info</h3>
    <ul class="list">
    <li class="item">
    <div class="row">

      <div class="col col-25 info-left">Title</div>
      <div class="col col-70">Night Out</div>
     </div>
    </li>
    <li class="item">
    <div class="row">
      <div class="col col-25 info-left">Date</div>
       <div class="col col-70">04/08/2015</div>
     </div>
    </li>
     <li class="item">
    <div class="row">
      <div class="col col-25 info-left">Time</div>
      <div class="col col-70">04:00 PM</div>
     </div>
    </li>
    
     <li class="item">
    <div class="row">
      <div class="col col-25 info-left">Place</div>
      <div class="col col-70">Texas</div>
     </div>
    </li>
    
     
    
     <li class="item">
    <div class="row">
      <div class="col col-25 info-left">Keyword</div>
      <div class="col col-70">Hi</div>
     </div>
    </li>
    
    <div class="col marginbottom">
                          <button class="button button-block  blue  ">Join Event </button>
                          <button class="button button-block blue " >Delete Event </button>
                          </div> 
</ul>
  </ion-content>
</ion-view>
