<ion-view view-title="iCrowding">
  <ion-content class="event-info">
    <h3>Event Info</h3>
    <ul class="list" ng-repeat="info in eventinfo">
    <li class="item">
    <div class="row">

      <div class="col col-25 info-left">Title</div>
      <div class="col col-70">{{info.fname}}</div>
     </div>
    </li>
    <li class="item">
    <div class="row">
      <div class="col col-25 info-left">Date</div>
       <div class="col col-70">{{info.date}}</div>
     </div>
    </li>
     <li class="item">
    <div class="row">
      <div class="col col-25 info-left">Time</div>
      <div class="col col-70">{{info.time}}</div>
     </div>
    </li>
    
     <li class="item">
    <div class="row">
      <div class="col col-25 info-left">Place</div>
      <div class="col col-70">{{info.location}}</div>
     </div>
    </li>
     <li class="item">
    <div class="row">
      <div class="col col-25 info-left">Keyword</div>
      <div class="col col-70">{{info.keywords}}</div>
     </div>
    </li>
    
    <div class="col marginbottom">
        <button class="button button-assertive" id="delbutton" style="display: none;" ng-click="joinevent({{info.id}});">Delete Event </button>
        <button class="button button-block blue" id="joinbutton" ng-click="joinevent({{info.id}})">Join Event </button>
        <button class="button button-block blue" id="joinbutton" ng-click="invitefriends({{info.id}})">Join Event </button>
        </div> 
</ul>
  </ion-content>
</ion-view>
