<ion-view view-title="iCrowding">
  <ion-content class="event">
    
    <div class="button-bar" style="margin-top: 5%;">
      <a href="#/app/create-event" class="button button-cyan">Create New</a>
      <a href="#/app/eventrequests" class="button button-cyan">Requests</a>
    </div>
    
    <div class="row" style="margin-top: 15px;">
      <a class="button button-small button-clear button-cyan" style="line-height: 3; font-size: small; margin: -2% auto auto auto; background: rgba(0,0,0,0.5); font-weight: bold !important;" href="#/app/search"><strong>Search events</strong></a>
    </div>
    
    <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50 card" ng-repeat="event in events" ng-click="gotoEvent({{event.id}})" style="height: 100%; max-width: 43% !important; margin-left: auto; margin-right: auto;">
        <div ng-bind="event.fname" class="item item-text-wrap item-divider"></div>
        <div class="item item-image">
          <img src="http://www.icreax.in/icrowding_server/images/events/{{event.fname}}_{{event.host}}.jpg" onerror="this.src = 'img/event.png';">
        </div>
        <div class="item item-text-wrap">
          <h4 class="event-detail"><i class="ion-ios-calendar-outline" style="border-right: 1px solid #000; margin-right: 5px; padding-right: 5px;"></i>{{event.fdate}}</h4>
          <h4 class="event-detail"><i class="ion-ios-clock-outline" style="border-right: 1px solid #000; margin-right: 5px; padding-right: 5px;"></i>{{event.ftime}}</h4>
        </div>
      </div> 
    </div>
  </ion-content>
</ion-view>
