<ion-view view-title="iCrowding">
  <ion-content>
    <h3>Forgot password</h3>
    
    
                  <div class="list">
                      <form ng-submit="sendpassword();">
                          <label class="item item-input">
                              <i class="ion-android-person"></i>
                              <input type="email" placeholder="Enter Your Email Address" ng-model="data.uemail">
                          </label>


                          <div class="col">
                              <button class="button button-block button-positive blue">Submit</button>
                          </div>
                      </form>
                       <p class="text-center padding ">
                <a class="blue-color" href="#/app/login">Login</a>
            </p>
                 </div><!-- list -->
  </ion-content>
</ion-view>
