<ion-view view-title="iCrowding">
    <ion-content >
        <form id="invitationform" ng-submit="invite();">
            <ion-list class="list">

                <ion-item class="item item-avatar" ng-repeat="friend in friends">
                    <img src="http://www.icreax.in/icrowding_server/images/users/{{friend.email}}.jpg">
                    <div class="half">
                        <h2 ng-bind="friend.fname" style="font-size: medium;"></h2>
                    </div>
                    <div class="half">
                        <label class="checkbox"><input type="checkbox" value="{{friend.id}}" /></label>
                    </div>
                </ion-item>

            </ion-list>

            <div class="row">
                <div class="col marginbottom">
                    <button class="button button-block button-cyan">Invite<i class="ion-android-add"></i></button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
