<ion-view view-title="iCrowding">
  <ion-content>
    <h3>Friends</h3>
    
    <div class="list">

    <div class="item item-avatar" >
      <img src="img/venkman.jpg">
      <div class="half">
      <h2>Venkman</h2>
      </div>
      <div class="half">
        <label class="checkbox"><input type="checkbox" /></label>
      <a ><i class="ion-android-calendar"></i></a></div>
    </div>
    <div class="item item-avatar" >
      <img src="img/spengler.jpg">
      <div class="half">
      <h2>Venkman</h2>
      </div>
<div class="half">
        <label class="checkbox"><input type="checkbox" /></label>
      <a ><i class="ion-android-calendar"></i></a></div>
    </div>   
    <div class="item item-avatar" >
      <img src="img/stantz.jpg">
     <div class="half">
      <h2>Venkman</h2>
      </div>
<div class="half">
        <label class="checkbox"><input type="checkbox" /></label>
      <a ><i class="ion-android-calendar"></i></a></div>
    </div>   
    <div class="item item-avatar" >
      <img src="img/winston.jpg">
       <div class="half">
      <h2>Venkman</h2>
      </div>
<div class="half">
        <label class="checkbox"><input type="checkbox" /></label>
      <a ><i class="ion-android-calendar"></i></a></div>
    </div>    
    <div class="item item-avatar" >
      <img src="img/tully.jpg">
      <div class="half">
      <h2>Venkman</h2>
      </div>
     <div class="half">
        <label class="checkbox"><input type="checkbox" /></label>
      <a ><i class="ion-android-calendar"></i></a></div>
    
    </div>
    <div class="item item-avatar" >
      <img src="img/barrett.jpg">
     <div class="half">
      <h2>Venkman</h2>
      </div>
<div class="half">
        <label class="checkbox"><input type="checkbox" /></label>
      <a ><i class="ion-android-calendar"></i></a></div>
    </div>    
    <div class="item item-avatar" >
      <img src="img/slimer.jpg">
       <div class="half">
      <h2>Venkman</h2>
      </div>
<div class="half">
        <label class="checkbox"><input type="checkbox" /></label>
      <a ><i class="ion-android-calendar"></i></a></div>
    </div>    
    <div class="item item-avatar">
      <img src="img/venkman.jpg">
       <div class="half">
      <h2>Venkman</h2>
      </div>
<div class="half">
        <label class="checkbox"><input type="checkbox" /></label>
      <a ><i class="ion-android-calendar"></i></a></div>
    </div>   

  
</div>

 <div class="row">
         <div class="col marginbottom">
          <button class="button button-block button-positive blue right-icon margin-top">Invite<i class="ion-android-add"></i></button>
          </div>
         
      </div>
  </ion-content>
</ion-view>
