<ion-view enable-menu-with-back-views="true">
    <ion-content>
        <ion-nav-bar class="bar bar-header bar-cyan">
            <ion-nav-back-button class="no-text" style="min-width: 0px; width: 28px; margin-right: 0px;">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-clear" ng-click="notifications()" style="min-width: 0px; width: 35px;">
                    <i class="icon ion-ios-bell">
                        <span class="badge badge-assertive icon-badge" style="padding: 1px 5px; position: absolute; right: 1px; top: 5px; {{notificationstatus}}" ng-bind="data.notificationcount"></span>
                    </i>
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-clear" id="menu-popover" ng-click="showActionsheet()">
                    <i class="icon ion-android-more-vertical"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
        </ion-nav-view>
    </ion-content>
</ion-view>   

    <!-- Footer Tabs -->
    
    <ion-tabs class="tabs-striped tabs-icon-only tabs-icon-top tabs-color-cyan hide-on-keyboard-open" id="footer-tab">
        <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="app.location" >
            <ion-nav-view name="location"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Events" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref="app.event">
        </ion-tab>
        <ion-tab title="Friends" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="app.friends">   
        </ion-tab>
        <div style="display: none;">
        <ion-tab title="Profile" icon-off="ion-ios-person-outline" hidden="true" icon-on="ion-ios-person" ui-sref="app.profile">
        </ion-tab>
        <ion-tab title="Featured" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" ui-sref="app.just-now">
        </ion-tab>
        <ion-tab title="chat" icon-off="ion-android-chat" icon-on="ion-android-chat" ui-sref="app.conversations">
        </ion-tab>
        <ion-tab title="notifications" icon-off="ion-ios-star-outline"  hidden="true" icon-on="ion-ios-star" ui-sref="app.notifications">
        </ion-tab>
        <ion-tab title="search" icon-off="ion-ios-star-outline"  hidden="true" icon-on="ion-ios-star" ui-sref="app.search">
        </ion-tab>
        <ion-tab title="chats" icon-off="ion-ios-star-outline"  hidden="true" icon-on="ion-ios-star" href="#/app/chats">
            <ion-nav-view name="chats"></ion-nav-view>
        </ion-tab>
        <ion-tab hidden="true" href="#/app/edit-profile">
            <ion-nav-view name="edit-profile"></ion-nav-view>
        </ion-tab>
        <ion-tab hidden="true" href="#/app/event-info">
            <ion-nav-view name="event-info"></ion-nav-view>
        </ion-tab>
        <ion-tab hidden="true" href="#/app/friends-invite">
            <ion-nav-view name="friends-invite"></ion-nav-view>
        </ion-tab>
        <ion-tab hidden="true" href="#/app/friendrequests">
            <ion-nav-view name="friendrequests"></ion-nav-view>
        </ion-tab>
        <ion-tab hidden="true" href="#/app/eventrequests">
            <ion-nav-view name="eventrequests"></ion-nav-view>
        </ion-tab>
        <ion-tab  hidden="true" ui-sref="app.create-event">
        </ion-tab>
        </div>
    </ion-tabs>