<ion-view view-title="iCrowding">
  <ion-content class="just-now">
    <p class="card" style="margin: 15px; padding: 5px; border-radius: 1%;background-color: rgba(245, 251, 158, 0.5) !important; font-weight: 600;">Choose an event to share with the iCrowding community! Your event will appear on the map publicly.</p>
     <div class="list">
                          <label class="item item-input item-select even">
                       
                            <select ng-model="data.eventid">
                              <option value="" disabled selected>Select an event</option>
                              <option ng-repeat="event in events" value="{{event.id}}">
                                  {{event.fname}}
                              </option>
                            </select>
                          
                        </label>
                     
                          <div class="col">
                          <button class="button button-block button-cyan" ng-click="shareevent()">Share</button>
                          </div>  
                       
              </div><!-- List -->
              <h3><strong>Shared Events</strong></h3>
      <ion-list class="list" style="margin-top: -50px;">
          <div class="item icon-right even" ng-repeat="sharedevent in sharedevents" ng-click="gotoevent({{sharedevent.id}})">
              {{sharedevent.fname}}
          </div>
      </ion-list>
  </ion-content>
</ion-view>