<ion-view view-title="iCrowding">
  <ion-content class="just-now">
    <h3>Just Now</h3>
    
    
     <div class="list">
                          <label class="item item-input item-select">
                       
                            <select>
                              <option value="" class="grey">First Event</option>
                              <option value="0">Second Event</option>
                              <option value="1">Third Event</option>
                               <option value="1">Fourth Event</option>
                                <option value="1">Fifth Event</option>
                            </select>
                          
                        </label>
                        
                         <label class="item item-input item-select">
                            <select>
                              <option value="" class="grey">5 Mile</option>
                              <option value="0">10 Mile</option>
                              <option value="1">15 Mile</option>
                               <option value="1">20 Mile</option>
                                <option value="1">25 Mile</option>
                            </select>
                          </label>
                     
                          <div class="col marginbottom">
                          <button class="button button-block button-positive blue">Just Now</button>
                          </div>  
                       
              </div><!-- List -->
  </ion-content>
</ion-view>