<ion-view view-title="iCrowding">
  <ion-content class="notification">
    <h3>Notifications</h3>
    
    <ul class="list">
    <li class="item">
    <div class="row">
      <div class="col col-15">Today</div>
      <div class="col col-75 col-offset-10">John has join your event</div>
     </div>
    </li>
     <li class="item">
    <div class="row">
      <div class="col col-15">Yesterday</div>
      <div class="col col-75 col-offset-10">Rumit is invited you pizza party</div>
     </div>
    </li>
     <li class="item">
    <div class="row">
      <div class="col col-15">05/07/15</div>
      <div class="col col-75 col-offset-10">Rohit is invited you pizza party</div>
     </div>
    </li>
    <li class="item">
    <div class="row">
      <div class="col col-15">04/07/15</div>
      <div class="col col-75 col-offset-10">Rahul is invited you pizza party</div>
     </div>
    </li>
    </ul>
   
   

  
   </div><!-- list -->

 
  </ion-content>
</ion-view>
