<ion-view view-title="iCrowding">
  <ion-content>
          <h3>Profile</h3>
    
    
                  <div class="list">
                 
                   
                          <label class="item item-input">
                        <i class="ion-ios-person-outline"></i>
                          <input type="text" placeholder="First Name" >
                        </label>
                        <label class="item item-input">
                          <i class="ion-ios-person-outline"></i>
                          <input type="text" placeholder="Last Name" required>
                          </label>
                        <label class="item item-input">
                        <i class="ion-ios-email-outline"></i>
                          <input type="email" placeholder="Email" >
                        </label>
                       
                        
                         <label class="item item-input">
                          <i class="ion-transgender"></i>
                            <input type="text" placeholder="Gender" >
                          </label>
                        
                        
                        <label class="item item-input">
                        <i class="ion-man"></i>
                          <input type="number" placeholder="Height" >
                        </label>
                         <label class="item item-input">
                        <i class="ion-bag"></i>
                          <input type="number" placeholder="Weight" >
                        </label>
                         <label class="item item-input">
                        <i class="ion-ios-calendar-outline"></i>
                          <input type="number" placeholder="Age" >
                        </label>
                         <label class="item item-input">
                          <i class="ion-ios-body-outline"></i>
                          <input type="text" placeholder="Sexual Orientation" >
                        </label>
                         <label class="item item-input">
                        <i class="ion-chatbubble"></i>
                          <input type="text" placeholder="Occupation" >
                        </label>
                         <label class="item item-input">
                        <i class="ion-search"></i>
                          <input type="text" placeholder="What are you seeking" >
                        </label>
                       
                        
                          <div class="col marginbottom">
                          <a href="#/app/edit-profile" class="button-a right-icon margin-top">Edit Profile<i class="ion-android-add"></i></a>
                          </div>   
                       
              </div><!-- list -->
  </ion-content>
</ion-view>
