<ion-view view-title="iCrowding">
  <ion-content overflow-scroll="true">
                  <div class="list scroll">
                      <div class="upload-image" style="content-align: center; padding: 15% 5%; background-image: url('img/covers/{{data.cover}}.jpg'); background-size: 100%;">
                        <div class="col-33" style="float: left;">
                          <img src="img/profile.jpg" onerror="this.src = 'img/profile.jpg';" id="mypic"/>
                        </div>
                        <div class="col-66" style="float: left;">
                          <label style="padding-right: 0px;">
                          <span ng-bind="data.fname" style="-webkit-text-fill-color: #000000; color: #fff !important; font-weight: bold !important;"></span>
                        </label>
                        </div>
                      </div>
                      <div>
                      <a ng-click="addfriend({{data.id}})" class="button button-small button-clear button-cyan col-20" style="line-height: 1.9; font-size: small; float: right; margin: 2% 5%; background: rgba(0,0,0,0.7); font-weight: bold !important; padding-left: 15px !important; padding-right: 15px !important; {{visitorbuttondisplaystatus}}"><i class="ion-person-add"></i></a>
                      <a ng-click="gotochats({{data.id}})" class="button button-small button-clear button-cyan col-20" style="line-height: 1.9; font-size: small; float: right; background: rgba(0,0,0,0.7); font-weight: bold !important; padding-left: 15px !important; padding-right: 15px !important; {{friendbuttondisplaystatus}}"><i class="ion-ios-chatboxes"></i></a>
                      </div>
                          <br>
                         <label class="item item-input odd"><div class="col">Gender: &nbsp;&nbsp;</div>
                          <i class="ion-transgender"></i>
                            <span ng-bind="data.gender" class="profileinfo" style="-webkit-text-fill-color: #000000" ></span>
                          </label>
                        <label class="item item-input even"><div class="col">Height: &nbsp;&nbsp;</div>
                        <i class="ion-ios-body"></i>
                          <span ng-bind="data.height" class="profileinfo" style="-webkit-text-fill-color: #000000" ></span><span style="margin-left:3%;">Inches</span>
                        </label>
                         <label class="item item-input odd"><div class="col">Weight: &nbsp;&nbsp;</div>
                        <i class="ion-ios-body-outline"></i>
                          <span ng-bind="data.weight" class="profileinfo" style="-webkit-text-fill-color: #000000" ></span><span style="margin-left:3%;">Lbs</span>
                        </label>
                         <label class="item item-input even"><div class="col">Age: &nbsp;&nbsp;</div>
                        <i class="ion-ios-calendar-outline"></i>
                          <span ng-bind="data.age" class="profileinfo" style="-webkit-text-fill-color: #000000" ></span><span style="margin-left:3%;">Years</span>
                        </label>
                         <label class="item item-input odd"><div class="col">Sexual orientation: &nbsp;&nbsp;</div>
                          <i class="ion-ios-body-outline"></i>
                          <span ng-bind="data.sexuality" class="profileinfo" style="-webkit-text-fill-color: #000000" ></span>
                        </label>
                         <label class="item item-input even"><div class="col">Occupation: &nbsp;&nbsp;</div>
                        <i class="ion-ios-briefcase"></i>
                          <span ng-bind="data.occupation" class="profileinfo" style="-webkit-text-fill-color: #000000" ></span>
                        </label>
                        
                           
                       
              </div><!-- list -->
  </ion-content>
</ion-view>
